{% extends "cms/base.html" %}
{% load bootstrap4 %}

{% block title %}書籍の編集{% endblock title %}

{% block content %}
    <div class="container">
        <h4 class="mt-4 mb-5 border-bottom">書籍の編集</h4>
        {% if book_id %}
        <form action="{% url 'cms:book_mod' book_id=book_id %}" method="post">
        {% else %}
        <form action="{% url 'cms:book_add' %}" method="post">
        {% endif %}
          {% csrf_token %}
          {% bootstrap_form form layout='horizontal' %}
          <div class="form-group row">
            <div class="mx-auto">
              <a href="{% url 'cms:book_list' %}" class="btn btn-primary btn-xs mr-3">戻る</a>
              <button type="submit" class="btn btn-danger btn-xs ml-3">編集完了</button>
            </div>
          </div>
        </form>
    </div>
{% endblock content %}